body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  position: relative; /* add this line */
}

.train {
  width: 100px; /* change this line */
  height: 40px; /* change this line */
  background-color: #333;
  position: absolute; /* change this line */
  animation: moveTrain ease-out infinite; /* change this line */
}

@keyframes moveTrain {
  to {
    left: 100%;
  }
}

input {
  margin-top: 20px;
}